<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= pokemonGet.nome %></title>
</head>
<body>
    <h1><%= pokemonGet.nome %></h1>
    <p>Tipo: <%= pokemonGet.tipo %></p>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>
